<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com"/>


    <bean id="orderService" class="com.lesson2.OrderService">
    </bean>

    <bean id="route" class="com.lesson2.homework.task1.Route">
        <constructor-arg name="id" value="0"/>
        <constructor-arg name="steps">
            <list>
                <ref bean="step"/>
                <ref bean="step"/>
                <ref bean="step"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="service" class="com.lesson2.homework.task1.Service">
        <constructor-arg name="id" value="0"/>
        <constructor-arg name="name" value="TestName"/>
        <constructor-arg name="paramsToCall" value="Test"/>
    </bean>

    <bean id="step" class="com.lesson2.homework.task1.Step">
        <constructor-arg name="id" value="0"/>
        <constructor-arg name="serviceFrom" type="com.lesson2.homework.task1.Service" ref="service"/>
        <constructor-arg name="serviceTo" type="com.lesson2.homework.task1.Service" ref="service"/>
        <constructor-arg name="paramsServiceFrom">
            <map>
                <entry key="key1">
                    <ref bean="service"/>
                </entry>
            </map>
        </constructor-arg>

        <constructor-arg name="paramsServiceTo">
            <map>
                <entry key="key1">
                    <ref bean="service"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>


    <bean id="itemService" class="com.lesson2.homework.task2.ItemService">
    </bean>

    <bean id="itemDAO" class="com.lesson2.homework.task2.ItemDAO">
    </bean>
</beans>